<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8bb6e0">  <td>21/03/11 21:53:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ListProductsTest.afterMethod()[pri:0, instance:tests.ListProductsTest@14a50707]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@302366050</td>   <td></td> </tr>
<tr bgcolor="8bb6e0">  <td>21/03/11 21:53:01</td>   <td>-11534</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListProductsTest.agregarItemsACanasta()[pri:0, instance:tests.ListProductsTest@14a50707]">agregarItemsACanasta</td> 
  <td>main@302366050</td>   <td></td> </tr>
<tr bgcolor="8bb6e0">  <td>21/03/11 21:52:55</td>   <td>-17362</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ListProductsTest.beforeMethod()[pri:0, instance:tests.ListProductsTest@14a50707]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@302366050</td>   <td></td> </tr>
</table>
