<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>tests.ListProductsTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>navegarxCategoriasHijasWomen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navegarXCategoriasPrincipales</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>agregarItemsACanasta</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verificarVistaMiniaturaItemsEnListado</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verificarNombrePrecioProductosEnListado</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navegarxCategoriasHijasDresses</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>tests.RegisterTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>completarRegistro5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>completarRegistro4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>completarRegistro1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>completarRegistro3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>completarRegistro2</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closeBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
