<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8bb6e0">  <td>21/03/11 20:25:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegisterTest.setup()[pri:0, instance:tests.RegisterTest@28b46423]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="8bb6e0">  <td>21/03/11 20:25:12</td>   <td>6413</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterTest.completarRegistro5()[pri:0, instance:tests.RegisterTest@28b46423]">completarRegistro5</td> 
  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="8bb6e0">  <td>21/03/11 20:25:18</td>   <td>12619</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegisterTest.closeBrowser()[pri:0, instance:tests.RegisterTest@28b46423]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="f7ac90">  <td>21/03/11 20:25:19</td>   <td>13426</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ListProductsTest.beforeMethod()[pri:0, instance:tests.ListProductsTest@59e2d8e3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="f7ac90">  <td>21/03/11 20:25:24</td>   <td>18800</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListProductsTest.agregarItemsACanasta()[pri:0, instance:tests.ListProductsTest@59e2d8e3]">agregarItemsACanasta</td> 
  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="f7ac90">  <td>21/03/11 20:25:37</td>   <td>31818</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ListProductsTest.afterMethod()[pri:0, instance:tests.ListProductsTest@59e2d8e3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="f7ac90">  <td>21/03/11 20:25:38</td>   <td>32639</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ListProductsTest.beforeMethod()[pri:0, instance:tests.ListProductsTest@59e2d8e3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="f7ac90">  <td>21/03/11 20:25:43</td>   <td>37838</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListProductsTest.verificarNombrePrecioProductosEnListado()[pri:0, instance:tests.ListProductsTest@59e2d8e3]">verificarNombrePrecioProductosEnListado</td> 
  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="f7ac90">  <td>21/03/11 20:25:46</td>   <td>40877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ListProductsTest.afterMethod()[pri:0, instance:tests.ListProductsTest@59e2d8e3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="8bb6e0">  <td>21/03/11 20:25:47</td>   <td>41695</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegisterTest.setup()[pri:0, instance:tests.RegisterTest@28b46423]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="8bb6e0">  <td>21/03/11 20:25:53</td>   <td>47668</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterTest.completarRegistro1()[pri:0, instance:tests.RegisterTest@28b46423]">completarRegistro1</td> 
  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="8bb6e0">  <td>21/03/11 20:26:01</td>   <td>55572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegisterTest.closeBrowser()[pri:0, instance:tests.RegisterTest@28b46423]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="8bb6e0">  <td>21/03/11 20:26:01</td>   <td>56391</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegisterTest.setup()[pri:0, instance:tests.RegisterTest@28b46423]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="8bb6e0">  <td>21/03/11 20:26:07</td>   <td>62065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterTest.completarRegistro2()[pri:0, instance:tests.RegisterTest@28b46423]">completarRegistro2</td> 
  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="8bb6e0">  <td>21/03/11 20:26:10</td>   <td>64878</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegisterTest.closeBrowser()[pri:0, instance:tests.RegisterTest@28b46423]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="f7ac90">  <td>21/03/11 20:26:11</td>   <td>65682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ListProductsTest.beforeMethod()[pri:0, instance:tests.ListProductsTest@59e2d8e3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="f7ac90">  <td>21/03/11 20:26:17</td>   <td>71693</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListProductsTest.navegarXCategoriasPrincipales()[pri:0, instance:tests.ListProductsTest@59e2d8e3]">navegarXCategoriasPrincipales</td> 
  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="f7ac90">  <td>21/03/11 20:26:23</td>   <td>77735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ListProductsTest.afterMethod()[pri:0, instance:tests.ListProductsTest@59e2d8e3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="f7ac90">  <td>21/03/11 20:26:24</td>   <td>78978</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ListProductsTest.beforeMethod()[pri:0, instance:tests.ListProductsTest@59e2d8e3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="f7ac90">  <td>21/03/11 20:26:30</td>   <td>84895</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListProductsTest.navegarxCategoriasHijasDresses()[pri:0, instance:tests.ListProductsTest@59e2d8e3]">navegarxCategoriasHijasDresses</td> 
  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="f7ac90">  <td>21/03/11 20:26:34</td>   <td>89154</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ListProductsTest.afterMethod()[pri:0, instance:tests.ListProductsTest@59e2d8e3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="f7ac90">  <td>21/03/11 20:26:35</td>   <td>90134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ListProductsTest.beforeMethod()[pri:0, instance:tests.ListProductsTest@59e2d8e3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="f7ac90">  <td>21/03/11 20:26:40</td>   <td>95389</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListProductsTest.navegarxCategoriasHijasWomen()[pri:0, instance:tests.ListProductsTest@59e2d8e3]">navegarxCategoriasHijasWomen</td> 
  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="f7ac90">  <td>21/03/11 20:26:48</td>   <td>102947</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ListProductsTest.afterMethod()[pri:0, instance:tests.ListProductsTest@59e2d8e3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="8bb6e0">  <td>21/03/11 20:26:49</td>   <td>104179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegisterTest.setup()[pri:0, instance:tests.RegisterTest@28b46423]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="8bb6e0">  <td>21/03/11 20:26:55</td>   <td>109509</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterTest.completarRegistro3()[pri:0, instance:tests.RegisterTest@28b46423]">completarRegistro3</td> 
  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="8bb6e0">  <td>21/03/11 20:26:59</td>   <td>114218</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegisterTest.closeBrowser()[pri:0, instance:tests.RegisterTest@28b46423]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="8bb6e0">  <td>21/03/11 20:27:00</td>   <td>115057</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegisterTest.setup()[pri:0, instance:tests.RegisterTest@28b46423]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="8bb6e0">  <td>21/03/11 20:27:07</td>   <td>122169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterTest.completarRegistro4()[pri:0, instance:tests.RegisterTest@28b46423]">completarRegistro4</td> 
  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="8bb6e0">  <td>21/03/11 20:27:15</td>   <td>129561</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegisterTest.closeBrowser()[pri:0, instance:tests.RegisterTest@28b46423]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="f7ac90">  <td>21/03/11 20:27:16</td>   <td>130794</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ListProductsTest.beforeMethod()[pri:0, instance:tests.ListProductsTest@59e2d8e3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="f7ac90">  <td>21/03/11 20:27:21</td>   <td>136185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListProductsTest.verificarVistaMiniaturaItemsEnListado()[pri:0, instance:tests.ListProductsTest@59e2d8e3]">verificarVistaMiniaturaItemsEnListado</td> 
  <td>TestNG@37070902</td>   <td></td> </tr>
<tr bgcolor="f7ac90">  <td>21/03/11 20:27:42</td>   <td>156979</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ListProductsTest.afterMethod()[pri:0, instance:tests.ListProductsTest@59e2d8e3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@37070902</td>   <td></td> </tr>
</table>
